/*HEADER*/
header {
	background: rgb(32, 34, 47);
}
/*heading-text*/
div[id="heading-text"]{
	color: white;	
}
div[id="heading-text"] h4,
div[id="heading-text"] p{
	opacity: 	0.8;
}
/*darkMode-toggler-wrapper*/
div[id="darkMode-toggler-wrapper"] p {
	color: white;
	opacity: 0.8;
}
div[id="darkMode-toggler-wrapper"] #toggler-cont{
	position: relative;
	background: linear-gradient(to right, rgb(58, 154, 219), rgb(60, 206, 143));
}
div[id="darkMode-toggler-wrapper"] #toggler-cont #toggler{
	position: absolute;
	right: 0;
	background: rgb(32, 34, 47);
}
/*600px*/
@media screen and (max-width:600px) {
	/*darkMode-toggler-wrapper*/
	div[id="darkMode-toggler-wrapper"] {
		border-top: 1px solid rgb(255, 255, 255, 0.7);
	}
}