
:root {
	--For-Tfollowers-And-DarkMode: .8em;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

						/*HEADER*/
header {
	background: rgb(248, 249, 254);
}
header section[id="wrapper-header"] {
	width: 80%;
}
/*heading-text*/
div[id="heading-text"] h4::first-letter{
	font-size: 1.2em;
}
div[id="heading-text"] h4{
	font-weight: 	bold;
	opacity: 0.7;	
}
div[id="heading-text"] p{
	font-size: 0.8em;
	font-weight: bold;
	opacity: 	0.6;
}

/*darkMode-toggler-wrapper*/
div[id="darkMode-toggler-wrapper"] p {
	/*font-size: 0.8em;*/
	font-weight: bold;
	opacity: 	0.5;
}
div[id="darkMode-toggler-wrapper"] #toggler-cont{
	display: inline-block;
	width: 43px;
	height: 20px;
	background: rgb(174, 178, 203);
	border-radius: 1em;
}
div[id="darkMode-toggler-wrapper"] #toggler-cont #toggler{
	display: inherit;
	width: 17px;
	height: 16px;
	border-radius: inherit;
	background: white;
	margin: 2px 3px auto 3px;
}
















						/*MAIN*/