* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

						/*HEADER*/
header {
	background: rgb(248, 249, 254);
}
header #wrapper-header {
	width: 80%;
	height: 220px;
}
/*heading-text*/
div[id="heading-text"] h4{
	opacity: 0.7;	
}
div[id="heading-text"] h4::first-letter{
	font-size: 1.2em;
}
div[id="heading-text"] p{
	font-size: 0.8em;
	font-weight: bold;
	opacity: 	0.6;
}

/*darkMode-toggler-wrapper*/
div[id="darkMode-toggler-wrapper"] p {
	font-weight: bold;
	opacity: 	0.5;
}
div[id="darkMode-toggler-wrapper"] #toggler-cont{
	position: relative;
	display: inline-block;
	width: 43px;
	height: 20px;
	background: rgb(174, 178, 203);
	border-radius: 1em;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------------*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------------*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------------*/
/*
Do not erase these classes, ".toggler" & ".darkmode"!
They are responsible for the dark & white mode functionality*/
.toggler{
	display: inherit;
	width: 17px;
	height: 16px;
	border-radius: inherit;
	background: white;
	margin: 2px 3px auto 3px;
	cursor: pointer;
}
.darkmode {
	position: absolute;
	right: 0;
	background: rgb(32, 34, 47);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!----------------------*/





					/*MAIN*/
main #wrapper-main {
	position: relative;
	top: -85px;
	width: 80%;
}

				/*SOCIAL-MEDIA-DETAILS*/
/*this is for all the '.social-media-details-cont' divs*/
/*GENERAL STYLINGS*/
.social-media-details-cont {
	background: rgb(240, 243, 250);
	border-radius: 5px;
	width: 23%;
	padding: 20px;
}
.social-media-details-cont:hover {
	background: rgb(225, 227, 240);
	cursor: pointer;
}

/*this is styling for all the 1st span tag in all '.social-media-details-cont' div*/
/*-- social-app icon and name*/
.social-media-details-cont span:first-child {
	display: inline-flex;
}
.social-media-details-cont span:first-child i {
	font-size: 1.5em;
	margin-right: 4px;
}
.social-media-details-cont span:first-child p {
	font-size: 0.9em;
}

/*this is styling for all the 2nd span tag in all '.social-media-details-cont' div*/
/*-- number of followers*/
.social-media-details-cont span:nth-child(2) p{
	font-size: 0.8em;
	letter-spacing: 4px;
	opacity: 0.6;
}
/*-- progress*/
.social-media-details-cont span:last-child {
	display: inline-flex;
	color: rgb(56, 164, 135);
}
.social-media-details-cont span:last-child i{
	font-size: 0.8em;
	margin-right: 1px;
}


/*SPECIAL STYLINGS*/
/*social-media-details*/

/*-- facebook-details*/
/*-- social-app icon and name*/
div[id="facebook-details"]{
	border-top: medium solid rgb(24, 143, 247);
}
div[id="facebook-details"] span:first-child i{
	color: rgb(24, 143, 247);
}
/*-- progress*/
div[id="facebook-details"] span:last-child i{
	margin-top: 10px; 
}

/*-- tweeter-details*/
/*-- social-app icon and name*/
div[id="tweeter-details"]{
	border-top: medium solid rgb(63, 160, 232);
}
div[id="tweeter-details"] span:first-child i{
	color: rgb(24, 143, 247);
}
/*-- progress*/
div[id="tweeter-details"] span:last-child i{
	margin-top: 10px; 
}

/*-- instagram-details*/
/*-- social-app icon and name*/
div[id="instagram-details"]{
	/*this is serving as the instagram div's border-top*/
	background-image: linear-gradient(to right, rgb(252, 193, 107), rgb(226, 74, 149));
	background-size:  100% 3px; 
	background-repeat: no-repeat;
}
div[id="instagram-details"]:hover{
	background: rgb(225, 227, 240);

	background-image: linear-gradient(to right, rgb(252, 193, 107), rgb(226, 74, 149));
	background-size:  100% 3px; 
	background-repeat: no-repeat;
}
div[id="instagram-details"] span:first-child i{
	background-image: linear-gradient(45deg, pink, orange, purple);
	-webkit-background-clip: text;
	   -moz-background-clip: text;
	    -ms-background-clip: text;
	     -o-background-clip: text;
	        background-clip: text;
	color: transparent;
}
/*-- progress*/
div[id="instagram-details"] span:last-child i{
	margin-top: 10px; 
}

/*-- youtube-details*/
/*-- social-app icon and name*/
div[id="youtube-details"]{
	border-top: medium solid rgb(191, 5, 45); 
}
div[id="youtube-details"] span:first-child i{
	color: rgb(191, 5, 45);
}
/*-- progress*/
div[id="youtube-details"] span:last-child{
	color: rgb(191, 5, 45);
}
div[id="youtube-details"] span:last-child i{
	margin-top: 3px; 
}





						/*OVERVIEW - TODAY*/
/*text - 'Overview - Today'*/
div[id="overview-today-wrapper"] h5{
	font-weight: bold;
	opacity: 0.8;
}

/*GENERAL STYLING*/
/*
General Styling For:
Facebook, Instagram, Tweeter, Youtube
*/
div[id="overview-today"] .overview-today-cont{
	width: 48.7%;
	justify-content: space-between;
	margin-bottom: 25px;
}
/*
General Styling For:
immediate children of Facebook, Instagram, Tweeter, Youtube containers (i.e: 'div' element)
*/
div[id="overview-today"] .overview-today-cont div{
	background: rgb(240, 243, 250);
	border-radius: 5px;
	width: 47.3%;
	padding: 20px 25px 7px 25px;
}
div[id="overview-today"] .overview-today-cont div:hover{
	background: rgb(225, 227, 240);
}
/*
General Styling For:
every grand-child element of Facebook, Instagram, Tweeter, Youtube
containers (i.e: 'span' element)
*/
div[id="overview-today"] .overview-today-cont div > span{
	justify-content: space-between;
}
/*
General Styling For:
(the content of the above 'span' element) 
*/
/*contents in the first span tags*/
div[id="overview-today"] .overview-today-cont div span:first-child p{
	font-size: 0.8em;
	font-weight: bold;
	opacity: 0.7;
}
div[id="overview-today"] .overview-today-cont div span:first-child i{
	font-size: 1.2em;
}
/*contents in the last span tags*/
div[id="overview-today"] .overview-today-cont div span:last-child h3{
	font-weight: bold;
}
div[id="overview-today"] .overview-today-cont div span:last-child span{
	display: inline-flex;
	margin-top: 15px;
}
/*the 'up' & 'down' icon container*/
div[id="overview-today"] .overview-today-cont div span:last-child span[class="up"]{
	color: rgb(56, 164, 135);
}
div[id="overview-today"] .overview-today-cont div span:last-child span[class="down"]{
	color: rgb(191, 5, 45);
}
/*the 'up' & 'down' icons*/
div[id="overview-today"] .overview-today-cont div span:last-child span .i-up{
	font-size: 0.8em;
	margin-top: 10px;
	margin-right: 2px;
}
div[id="overview-today"] .overview-today-cont div span:last-child span .i-down{
	font-size: 0.8em;
	margin-top: 3px;
	margin-right: 2px;
}


/*SPECIAL STYLING*/
/*Facebook*/
div[id="overview-today"] div:first-child > div:first-child > span:first-child i,
div[id="overview-today"] div:first-child > div:last-child > span:first-child i {
	color: rgb(24, 143, 247);
}
/*Instagram*/
div[id="overview-today"] div:nth-child(2) > div:first-child > span:first-child i,
div[id="overview-today"] div:nth-child(2) > div:last-child > span:first-child i {
	background-image: linear-gradient(45deg, pink, orange, purple);
	-webkit-background-clip: text;
	   -moz-background-clip: text;
	    -ms-background-clip: text;
	     -o-background-clip: text;
	        background-clip: text;
	color: transparent;
}
/*Tweeter*/
div[id="overview-today"] div:nth-child(3) > div:first-child > span:first-child i,
div[id="overview-today"] div:nth-child(3) > div:last-child > span:first-child i {
	color: rgb(24, 143, 247);
}
/*Youtube*/
div[id="overview-today"] div:last-child > div:first-child > span:first-child i,
div[id="overview-today"] div:last-child > div:last-child > span:first-child i {
	color: rgb(191, 5, 45);
}





						/*FOOTER*/
footer {
	/*background: rgb(248, 249, 254);*/
	background: rgb(240, 243, 250);
}
				/*CREDIT*/
footer section[id="credit"] {
	
}
footer section[id="credit"] p{
	background: linear-gradient(to right, rgb(240, 243, 250), rgb(225, 227, 240), rgb(240, 243, 250));
	font-size: 0.9em;
	opacity: 0.9;
}
footer section[id="credit"] small{
	background: linear-gradient(to right, rgb(240, 243, 250), rgb(225, 227, 240), rgb(240, 243, 250));
	font-size: 0.7em;
	letter-spacing: 2px;
}
footer section[id="credit"] small i{
	font-size: 1.2em;
}
/*----- The End -----*/