				
					/*HEADER*/

/*768px*/
@media screen and (max-width:768px) {
	/*darkMode-toggler-wrapper*/
	div[id="darkMode-toggler-wrapper"] p{
		margin-top: 3px;
	}
	div[id="darkMode-toggler-wrapper"] #toggler-cont{
		width: 63px;
		height: 29px;
	}
	div[id="darkMode-toggler-wrapper"] #toggler-cont #toggler{
		width: 25px;
		height: 25px;
	}
}
/*600px*/
@media screen and (max-width:600px) {
	header #wrapper-header{
		display: block !important;
	}




	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	/*
		completely fix the thin(1px) chrome problem 
		and reduce the opacit of the line

		and then the toggle functionality for chrome
	*/
	/*darkMode-toggler-wrapper*/
	div[id="darkMode-toggler-wrapper"] {
		-webkit-border-top: thin solid rgb(0, 0, 0, 0.5);
		   -moz-border-top: thin solid rgb(0, 0, 0, 0.5);
		        border-top: thin solid rgb(0, 0, 0, 0.5);

		padding-top: 25px;
		justify-content: space-between;
	}
	/*!!!!!!!!!!!!!!*/
	div[id="darkMode-toggler-wrapper"] #toggler-cont #toggler{
		background: brown;
	}
}
@media screen and (max-width: 450px) {
	/*HEADER*/
	header #wrapper-header{
		width: 85%;
	}
	/*heading-text*/
	div[id="heading-text"] h4{
		font-size: 7vmin;
	}
}




					/*MAIN