				
					/*HEADER*/

/*768px*/
@media screen and (max-width:768px) {
	/*darkMode-toggler-wrapper*/
	div[id="darkMode-toggler-wrapper"] p{
		margin-top: 3px;
	}
	div[id="darkMode-toggler-wrapper"] #toggler-cont{
		width: 63px;
		height: 29px;
	}
	div[id="darkMode-toggler-wrapper"] #toggler-cont #toggler{
		width: 25px;
		height: 25px;
	}
}
/*600px*/
@media screen and (max-width:600px) {
	header #wrapper-header{
		display: block !important;
		color: red;
	}
	/*darkMode-toggler-wrapper*/
	div[id="darkMode-toggler-wrapper"] {
		border-top: 2px solid rgb(225, 225, 225, 1);
		padding-top: 25px;
		justify-content: space-between;
	}
}





					/*MAIN